
@if (song()){
<app-navigation-bar [title]="`${song()!.name} (${song()!.tone})`"></app-navigation-bar>
}

<main class="p-3">

@if (song()){
  <div class="flex flex-col gap-2">
    @for(verse of song()?.verses;track verse.id){
      <div class="border shadow rounded-lg border-zinc-200 p-2.5">
        <p class="text-green-700 font-medium space-x-2">
          @for(chord of verse.chords; track chord;){
            <span>{{chord}}</span>
            @if($index !== verse.chords.length - 1){
              <span class="font-mono text-zinc-300">></span>
            }
          }
        </p>
        <p>{{verse.verse}}</p>
      </div>
    }
  </div>
}

@if (notFoundSongId()) {
  <p>Ops! Não foi possível encontrar essa playlist.</p>
  <p>ID {{notFoundSongId()}} desconhecido.</p>
}

</main>
